[data-md-color-scheme="rt-red"] {
    --md-primary-fg-color:        #e50012;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    --md-accent-fg-color: #e500129a;
    --md-footer-bg-color: hsla(0, 0%, 0%, 0.32);
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.87);
}

.md-footer {
    background-color: var(--md-default-bg-color); 
}
.md-footer-nav a {
    color: var(--md-typeset-color);
}