.md-footer-notice {
    margin: auto .6rem;
    margin-top: auto;
    margin-right: 0.6rem;
    margin-bottom: auto;
    margin-left: 0.6rem;
    padding: .4rem 0;
    padding-top: 0.4rem;
    padding-right: 0px;
    padding-bottom: 0.4rem;
    padding-left: 0px;
    font-size: .64rem;
    color: var(--md-footer-fg-color);
    background-color: var(--md-footer-bg-color);
}